.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: center;
    z-index: 10;
}

.dots::before {
    content: '';
    position: absolute;
    /* top: -3px; */
    width: 10px;
    height: 10px;
    background: var(--clr);
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 20px var(--clr), 0 0 40px var(--clr), 0 0 60px var(--clr), 0 0 80px var(--clr);
}


