/* clock number labels */

#time span {
    position: absolute;
    inset: 55px;
    text-align: center;
    color: #999;
    font-size: 1.5rem;
    z-index: 10;
    transform: rotate(calc(30deg * var(--i)));
}