/* FOR THE NEEDLE */
.niddles {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.niddles i {
    position: absolute;
    width: 2px;
    height: 50%;
    background: var(--clr);
    border-radius: 6px;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.niddle2 {
    width: 130px;
    height: 130px;
}

.niddle2 i {
    width: 4px;
}


.niddle3 {
    width: 170px;
    height: 170px;
}

.niddle3 i {
    width: 4px;
}


